{
  "project_info": {
    "project_number": "SEU_PROJECT_NUMBER",
    "firebase_url": "https://SEU_PROJECT_ID.firebaseio.com",
    "project_id": "SEU_PROJECT_ID",
    "storage_bucket": "SEU_PROJECT_ID.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "SEU_MOBILE_SDK_APP_ID",
        "android_client_info": {
          "package_name": "br.com.pablocustodio"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "SUA_API_KEY_AQUI"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}